<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            text-align: center;
        }

        body {
            background-image: url("https://mcdn.wallpapersafari.com/medium/14/37/VcPLAp.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }

    </style>

</head>
<body>
<div class="container text-center">
    <div>
        <h1>List of Users</h1>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${list.userId}"> Id </span></td>
                <td><span th:text="${list.name}"> Name </span></td>
                <td><span th:text="${list.email}">Email </span></td>
                <td><span th:text="${list.phoneNo}"> Phone Number </span></td>

            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
<div class="shp">
    <a class="hr" th:href="@{/shop}">Shop</a>
</div>
</body>
</html>